<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name=""
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="B72470DF-22E5-451B-B27F-8E8E06127B80"
		Manufacturer="">
		<Package Description=""
			Comments= "Comments"
			InstallerVersion="200"
			Compressed="yes"
		/>
	</Product>
</Wix>
